html, body, h1, h2, h3, h4, ul, ol, li, p, a {
  padding: 0;
  border: 0;
  margin: 0;
}

body{
	background-color: #000000;
	color: #ffffff;
	background-image: url("images/bay.JPG");
	background-position:center top;
	background-repeat: no-repeat;
	background-size: 2500px 1750px;
	font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
	min-width: 610px;
}
h1{
	font-size: 100px;
	padding: 0 0 0 0;
	margin: 10px 10px 10px 10px;
	font-weight: 100;
}
h2{

}
p{
	margin: 10px auto 10px auto;
	vertical-align: middle;
	width: 500px;

}
img{
	width: auto;
	height: 250px;
}
#loading{
	width: auto;
	height: auto;
}

.noHighlight{
	border: none;
}
.highlight{
	border: 8px solid #D7D0C5;
	border-radius: 10px;
}

input:focus { outline: none; }

input{
	font-size: 120%;
	text-align: center;
	color: #ffffff;
	background-color: transparent;
	border: 1px solid #646770;
	border-radius: 10px;
	font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
	margin: 10px 1px 10px 1px
}

input[type="button"]{
	margin: 5px 0 5px 0
}

input[type="text"]:focus, input[type="text"]:hover{
	background-color: #B2D1DE;
	color: #ffffff;
}
input[type="button"]:active, input[type="button"]:hover{
	background-color: #B2D1DE;
}


table{
	border: solid 1px black;
}
body, table{
	text-align: center;
}
figure{
	display: inline-block;
	margin: 20px 20px 20px 20px;
}

#linkToStory {
	font-family: 'IM Fell English', serif;
	font-size: 30px;

}

#selection p{
	font-family: 'IM Fell English', serif;
}

#theButton{
	margin:;
}
#option{
	position:left bottom;
	margin-top:50%;
}

a:link{
	color: #B2D1DE;
}
a:visited{
	color: #FC91FF;
}